<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Amadeus - 管理员系统</title>
  <!--favicon-->
  <link rel="icon" href="{% static "eva/assets/images/logo0.png" %}" type="image/x-icon">
  <!-- notifications css -->
  <link rel="stylesheet" href="{% static "eva/assets/plugins/notifications/css/lobibox.min.css"%}"/>
  <!-- Vector CSS -->
  <link href="{% static "eva/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" %}" rel="stylesheet"/>
  <!-- simplebar CSS-->
  <link href="{% static "eva/assets/plugins/simplebar/css/simplebar.css" %}" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="{% static "eva/assets/css/bootstrap.min.css" %}" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="{% static "eva/assets/css/animate.css" %}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{% static "eva/assets/css/icons.css" %}" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="{% static "eva/assets/css/sidebar-menu.css" %}" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="{% static "eva/assets/css/app-style.css" %}" rel="stylesheet"/>
  <!--Lightbox Css-->
  <link href="{% static "eva/assets/plugins/fancybox/css/jquery.fancybox.min.css" %}" rel="stylesheet" type="text/css"/>
</head>

<body class="bg-theme bg-theme2">

<!-- Start wrapper-->
 <div id="wrapper">

   <div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

  <!--Start sidebar-wrapper-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
      <a href="/eva">
       <img src="{% static "eva/assets/images/logo0.png" %}" class="logo-icon" alt="logo icon">
       <h5 class="logo-text">Amadeus-管理员系统</h5>
     </a>
   </div>
   <div class="user-details">
    <div class="media align-items-center user-pointer collapsed" data-toggle="collapse" data-target="#user-dropdown">
      <div class="avatar">
        <img class="mr-3 side-user-img" src="/upload/{{ userinfo.headportrait }}" alt="user avatar" onerror="this.src='/upload/33.jpg'">
      </div>
       <div class="media-body">
       <h6 class="side-user-name">{{ userinfo }}</h6>
      </div>
       </div>
     <div id="user-dropdown" class="collapse">
      <ul class="user-setting-menu">
            <li><a href="personalinformation"><i class="icon-user"></i>  个人中心</a></li>
            <li><a href="javaScript:void(0);"><i class="icon-settings"></i> 设置</a></li>
      <li><a href="userlogout"><i class="icon-power"></i> 登出</a></li>
      </ul>
     </div>
      </div>

   <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header">系统服务</li>
      <li>
        <a href="javaScript:void(0);" class="waves-effect">
          <i class="zmdi zmdi-chart"></i> <span>职业数据分析图</span>
          <i class="fa fa-angle-left float-right"></i>
        </a>
        <ul class="sidebar-submenu">
          <li><a href="charts"><i class="zmdi zmdi-long-arrow-right"></i> 数据图</a></li>

        </ul>
       </li>
   </ul>

   </div>
   <!--End sidebar-wrapper-->

<!--Start topbar header-->
<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javaScript:void(0);">
       <i class="icon-menu menu-icon"></i>
     </a>
    </li>
    <li class="nav-item">
      <form class="search-bar">
        <input type="text" class="form-control" placeholder="Enter keywords">
         <a href="javaScript:void(0);"><i class="icon-magnifier"></i></a>
      </form>
    </li>
  </ul>

  <ul class="navbar-nav align-items-center right-nav-link">
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javaScript:void(0);">
      <i class="fa fa-envelope-open-o"></i><span class="badge badge-light badge-up">12</span></a>
      <div class="dropdown-menu dropdown-menu-right">
        <ul class="list-group list-group-flush">
         <li class="list-group-item d-flex justify-content-between align-items-center">
          You have 12 new messages
          <span class="badge badge-light">12</span>
          </li>
          <li class="list-group-item">
          <a href="javaScript:void(0);">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="{% static "eva/assets/images/avatars/avatar-5.png" %}" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-0 msg-title">Jhon Deo</h6>
            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
            <small>Today, 4:10 PM</small>
            </div>
          </div>
          </a>
          </li>
          <li class="list-group-item">
          <a href="javaScript:void(0);">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="{% static "eva/assets/images/avatars/avatar-6.png" %}" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-0 msg-title">Sara Jen</h6>
            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
            <small>Yesterday, 8:30 AM</small>
            </div>
          </div>
          </a>
          </li>
          <li class="list-group-item">
          <a href="javaScript:void(0);">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="{% static "eva/assets/images/avatars/avatar-7.png" %}" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-0 msg-title">Dannish Josh</h6>
            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
             <small>5/11/2018, 2:50 PM</small>
            </div>
          </div>
          </a>
          </li>
          <li class="list-group-item">
          <a href="javaScript:void(0);">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="{% static "eva/assets/images/avatars/avatar-8.png" %}" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-0 msg-title">Katrina Mccoy</h6>
            <p class="msg-info">Lorem ipsum dolor sit amet.</p>
            <small>1/11/2018, 2:50 PM</small>
            </div>
          </div>
          </a>
          </li>
          <li class="list-group-item text-center"><a href="javaScript:void(0);">See All Messages</a></li>
        </ul>
        </div>
    </li>
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javaScript:void(0);">
    <i class="fa fa-bell-o"></i><span class="badge badge-info badge-up">14</span></a>
      <div class="dropdown-menu dropdown-menu-right">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
          You have 14 Notifications
          <span class="badge badge-info">14</span>
          </li>
          <li class="list-group-item">
          <a href="javaScript:void(0);">
           <div class="media">
             <i class="zmdi zmdi-accounts fa-2x mr-3 text-info"></i>
            <div class="media-body">
            <h6 class="mt-0 msg-title">New Registered Users</h6>
            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
            </div>
          </div>
          </a>
          </li>
          <li class="list-group-item">
          <a href="javaScript:void(0);">
           <div class="media">
             <i class="zmdi zmdi-coffee fa-2x mr-3 text-warning"></i>
            <div class="media-body">
            <h6 class="mt-0 msg-title">New Received Orders</h6>
            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
            </div>
          </div>
          </a>
          </li>
          <li class="list-group-item">
          <a href="javaScript:void(0);">
           <div class="media">
             <i class="zmdi zmdi-notifications-active fa-2x mr-3 text-danger"></i>
            <div class="media-body">
            <h6 class="mt-0 msg-title">New Updates</h6>
            <p class="msg-info">Lorem ipsum dolor sit amet...</p>
            </div>
          </div>
          </a>
          </li>
          <li class="list-group-item text-center"><a href="javaScript:void(0);">See All Notifications</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item language">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javaScript:void(0);"><i class="fa fa-flag"></i></a>
      <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
        </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
        <span class="user-profile"><img src="/upload/{{ userinfo.headportrait }}" class="img-circle" alt="user avatar" onerror="this.src='/upload/33.jpg'"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li class="dropdown-item user-details">
        <a href="personalinformation">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="/upload/{{ userinfo.headportrait }}" alt="user avatar" onerror="this.src='/upload/33.jpg'"></div>
            <div class="media-body">
            <h6 class="mt-2 user-title">{{ userinfo }}</h6>
            <p class="user-subtitle">mccoy@example.com</p>
            </div>
           </div>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
        <li class="dropdown-divider"></li>
        {% if authentication == 0 %}
            <a href="authentication"><li class="dropdown-item"><i class="icon-wallet mr-2"></i> 未认证</li></a>
        {% elif authentication == 1 %}
            <a href="authentication"><li class="dropdown-item"><i class="icon-wallet mr-2"></i> 等待审核</li></a>
        {% elif authentication == 2 %}
            <a href="authentication"><li class="dropdown-item"><i class="icon-wallet mr-2"></i> 已认证</li></a>
        {% endif %}
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
        <li class="dropdown-divider"></li>
        <a href="userLogin"><li class="dropdown-item"><i class="icon-power mr-2"></i> Logout </li></a>
      </ul>
    </li>
  </ul>
</nav>
</header>
<!--End topbar header-->

<div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">
        <a href="face_verification" id="examination1" style="display: none"></a><a href="face_verification1" id="examination2" style="display: none"></a>

        <div class="progress-wrapper">
			   <div class="progress mb-4" style="height:15px;">
				<div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:80%">80%</div>
			   </div>
        </div><!--end progress wrapper-->

    <div class="row">
	 <div class="col-12 col-lg-12">
	   <div class="card">
	     <div class="card-header">实名认证
		  <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void(0);" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" aria-expanded="false">
              <i class="icon-options"></i>
             </a>
              <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(15px, 19px, 0px);">
              <a class="dropdown-item" href="javascript:void(0);">Action</a>
              <a class="dropdown-item" href="javascript:void(0);">Another action</a>
              <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0);">Separated link</a>
               </div>
              </div>
             </div>
		 </div>
	       <div class="table-responsive">
                 <table class="table align-items-center table-flush table-borderless">
                  <thead>
                   <tr>
                     <th>用户</th>
                     <th>姓名</th>
                     <th>身份证号码</th>
                     <th>身份证正面照</th>
                     <th>身份证背面照</th>

                     <th>人脸图片</th>
                   </tr>
                   </thead>
                       <tbody>
                            {%  for key,value in usern.items %}
                               <tr>
                                <td>{{ key }}</td>
                                <td>{{ value.name }}</td>
                                <td>{{ value.idnumber }}</td>
                                   <td><a href="/upload/{{ value.idfrontphoto }}" data-fancybox="images" data-caption="身份证正面照">
                                       <img src="/upload/{{ value.idfrontphoto }}" style="width: 195px;height: 120px" alt="lightbox" class="lightbox-thumb img-thumbnail">
                                   </a></td>
                                   <td><a href="/upload/{{ value.idbackphoto }}" data-fancybox="images" data-caption="身份证背面照">
                                       <img src="/upload/{{ value.idbackphoto }}" style="width: 195px;height: 120px" alt="lightbox" class="lightbox-thumb img-thumbnail"></a></td>

                                <td><button class="btn btn-light btn-block m-1" data-toggle="modal" data-target="#cardmodal">...</button>
                            {% endfor %}
                                      <!-- Modal -->
                                        <div class="modal fade" id="cardmodal">
                                          <div class="modal-dialog">
                                            <div class="modal-content border-0">
                                                <div class="card mb-0">
                                                    <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                                            <div class="card-header text-uppercase">人脸照片</div>

                                                            <div class="card-body">
                                                              <div class="row">
                                                                  {%  for key,value in image.items %}

                                                                <div class="col-md-6 col-lg-3 col-xl-3">
{#                                                                <img src="/upload/叉叉.png" style="position: absolute;margin-left:95px;margin-top:-10px">#}
                                                                  <a href="/upload/{{ value }}"  data-fancybox="image" data-caption="{{ value }}">
                                                                  <img src="/upload/{{ value }}"  alt="lightbox" class="lightbox-thumb img-thumbnail">
                                                                </a>
                                                                </div>

                                                                  {% endfor %}
                                                        </div>
                                                            </div>
                                                            </div>

{#                                                    <div class="card-body">#}
{#                                                      <p class="card-text">错误图片：</p>#}
{#                                                       </div>#}
{#                                                     <ul class="list-group list-group-flush list shadow-none">#}
{#                                                      <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio <span class="badge badge-dark">14</span></li>#}
{#                                                      <li class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in <span class="badge badge-success">2</span></li>#}
{#                                                      <li class="list-group-item d-flex justify-content-between align-items-center">Vestibulum at eros <span class="badge badge-danger">1</span></li>#}
{#                                                    </ul>#}
                                                    <div class="card-body">
                                                        <button class="btn btn-outline-primary btn-block m-1" data-toggle="modal" data-target="#primarymodal" onclick="examination()">审查人脸图片</button>
{#                                                              <button class="btn btn-dark" onclick="examination()">审查人脸图片</button>#}
                                                        <button class="btn btn-outline-info btn-block m-1" data-toggle="modal" data-target="#infomodal" id="authentication">人脸图片制作数据</button>
{#                                                        <button type="button" class="btn btn-info waves-effect waves-light btn-sm" id="authentication">人脸图片制作数据</button>#}
                                                    </div>
                                                  </div>

                                            </div>
                                          </div>
                                        </div>

                                </td>
                               </tr>

                     </tbody>
                 </table>
               </div>
	   </div>
	 </div>
	</div>

    </div>
    <!-- End container-fluid-->

    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void(0);" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
<!--start color switcher-->
   <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>

      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>

      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
      </ul>

     </div>
   </div>
  <!--end color cwitcher-->
	<!--Start footer-->
	<footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2019 Amadeus
        </div>
      </div>
    </footer>
	<!--End footer-->



  </div><!--End wrapper-->

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "eva/assets/js/jquery.min.js" %}"></script>
  <script src="{% static "eva/assets/js/popper.min.js" %}"></script>
  <script src="{% static "eva/assets/js/bootstrap.min.js" %}"></script>

 <!-- simplebar js -->
  <script src="{% static "eva/assets/plugins/simplebar/js/simplebar.js" %}"></script>
  <!-- sidebar-menu js -->
  <script src="{% static "eva/assets/js/sidebar-menu.js" %}"></script>
  <!-- loader scripts -->
  <script src="{% static "eva/assets/js/jquery.loading-indicator.js" %}"></script>
  <!-- Custom scripts -->
  <script src="{% static "eva/assets/js/app-script.js" %}"></script>
  <!-- Chart js -->

  <script src="{% static "eva/assets/plugins/Chart.js/Chart.min.js" %}"></script>
  <!-- Vector map JavaScript -->
  <script src="{% static "eva/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js" %}"></script>
  <script src="{% static "eva/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js" %}"></script>
  <!-- Easy Pie Chart JS -->
  <script src="{% static "eva/assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js" %}"></script>
  <!-- Sparkline JS -->
  <script src="{% static "eva/assets/plugins/sparkline-charts/jquery.sparkline.min.js" %}"></script>
  <script src="{% static "eva/assets/plugins/jquery-knob/excanvas.js" %}"></script>
  <script src="{% static "eva/assets/plugins/jquery-knob/jquery.knob.js" %}"></script>
    <!-- 提示 JS -->
  <script src="{% static "eva/assets/plugins/notifications/js/notification-custom-script.js" %}"></script>
  <script src="{% static "eva/assets/plugins/notifications/js/lobibox.min.js" %}"></script>
  <script src="{% static "eva/assets/plugins/notifications/js/notifications.min.js" %}"></script>
  <!--按钮触发事件-->
  <script src="{% static "eva/assets/plugins/alerts-boxes/js/sweetalert.min.js" %}"></script>
  <script src="{% static "eva/assets/plugins/alerts-boxes/js/sweet-alert-script.js" %}"></script>
  <!--Lightbox-->
  <script src="{% static "eva/assets/plugins/fancybox/js/jquery.fancybox.min.js" %}"></script>
    <script>
        $(function() {
            $(".knob").knob();
        });
        {#自动刷新一次#}
        $(document).ready(function () {

             if(location.href.indexOf("#reloaded")==-1){
                location.href=location.href+"#reloaded";
                location.reload();
            }
        });
         $("#authentication").click(function(){

                  swal({
                    title: "是否确定加载人脸数据?",
                    text: "请审查核实后选择!",
                    icon: "警告",
                    buttons: true,
                    dangerMode: true,
                  })
                  .then((willDelete) => {
                    if (willDelete) {
                      swal("系统开始重新加载人脸数据", {
                        icon: "success",
                      });
                      $('#examination2')[0].click();
                    } else {
                      swal("Your imaginary file is safe!");
                    }
                  });

              });
        function examination(){
			Lobibox.notify('default', {
		    pauseDelayOnHover: true,
            continueDelayOnInactiveTab: false,
		    position: 'center top',
		    showClass: 'fadeInDown',
            hideClass: 'fadeOutDown',
            width: 600,
		    msg: 'Lorem ipsum dolor sit amet hears farmer indemnity inherent.'

		    });
			console.log('1')
			$('#examination1')[0].click();
		  }
    </script>

  <!-- Index js -->
  <script src="{% static "eva/assets/js/index.js" %}"></script>


</body>
</html>
